*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    
}
/* All body's Stylings */
#homeBody{
    background-image: url(https://sihlandlo-schillo.github.io/HOSTEDIMAGES/images/HomePageSlideshow.jpg);
    background-size: cover 100vh;
    background-repeat: no-repeat;
}
#aboutBody{
    background-color: grey;
}

/* FOOTERS */


.footer{
    bottom: 0;
    /* position: absolute; */
    background-color: lightgray;
    width: 100%;
    height: 80px;
    align-content: center;
    position: static;
    position: fixed;
    
}
.aboutFooter{
    bottom: 0;
    position: fixed;
    background-color: lightgray;
    width: 100%;
    height: 80px;
    align-content: center;
    position: static;
    
}
.adminFooter{
    bottom: 0;
    background-color: lightgray;
    width: 100%;
    height: 80px;
    align-content: center;
    position: static;
    position: fixed;
}

/* About */

.aboutMain{
    height: 100%;
}
span{
    text-align: center;
}
.logo{
    height: 50px;
}

/* Products Styling */

#modalImage{
    width: 250px;
    height: 350px;
    object-fit: cover;
}

#itemImage img{
    height: 250px;
    object-fit: cover;
}
#products{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    margin-bottom: 17%;
}
#productsBody{
    /* background: scroll ; */
    background-image: url(https://sihlandlo-schillo.github.io/HOSTEDIMAGES/images/InStore.jpg);
    background-size: cover 100vh;

    
}
.productsFooter{
    bottom: 0;
    position: absolute;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    align-content: center;
}

.prods{
    height: 60vh;
}

/* HOME */

.welcome{
    background-color: aliceblue;
}
.homeDiv{
    height: 115vh;
}

.homeImage{
    height: 295px;
    width: 450px;
}
.homeImageDiv{
    padding-top: 20px;
}
.mainContent{
    margin-top: 50px;
}

/* CONTACTS */
#contactBody{
    background-image: url(https://sihlandlo-schillo.github.io/HOSTEDIMAGES/images/contactsBackground.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner{
    height: 350px
}
.icons{
    height: 50px;
    width: 50px;
}
.contacts{
    height: 100vh;
}
.clear{
    background-color: black
}
.send{
    background-color: green
}

/* contact animation */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body{ 
  /* display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff; */
  
  font-family: 'Fira Mono', monospace;
  letter-spacing: -1px;
}

.em{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.em:before,
.em:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.em:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  } 
}

em:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

/*MEDIA  */
@media screen and (max-width:320px) {
    #cartBody{
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

    }

    #aboutBody{
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .aboutMain{
        height: 100vh;
    }
    .aboutFooter{
        bottom: 0;
        position:static
    }

    /* Home media queries */

    #homeBody{
        background-repeat: no-repeat;
        background-size: cover 100vh;
        height: 100vh;
    }
    #homeBody:first-child{
        max-width: 320px;
    }
    #homeBody:nth-child(2){
        max-width: 100%;
        height: 100%;
    }

    .footer{}
        /* PRODUCT MEDIA QUERY */

    .productsFooter{
        bottom: 0;
        position: absolute;
        position: fixed;
        height: 70px;
        width: 100%;
        background-color: lightgray;
        text-align: center;
        align-content: center;
        }
    #productsBody{
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    /* CART MEDIA QUERY */
    #cartBody{
        
    }
}



/* CART styling */

#cartBody{
    background-image: url(https://sihlandlo-schillo.github.io/HOSTEDIMAGES/images/contactsBackground.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.cartProds{
    height: 50px;
}

table, tr, td,th {
    border: 1px double black;
    /* display: tabl */
    text-align: center;
    justify-content: space-around;
    align-content: center;
}

.quantity{
    width: 25px;
}

